* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-image: linear-gradient(#252a52 .1em, transparent .1em), linear-gradient(90deg, #252a52 .1em, transparent .1em);
  background-size: 2em 2em;
  background-color: #17182d !important;

  >* {
    color: #FFF;
  }
}

.app {
  width: 100%;
}

@font-face {
  font-family: 'ptmono';
  src: local('ptmono'), url(./assets/fonts/PTMono-Regular.ttf) format('opentype');
}

.add-todo {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
  row-gap: 10px;

  & .title {
    font-family: 'ptmono';
    font-size: 18px;
    color: #E5E5E5;
    align-self: flex-start;
  }

  &-actions {
    display: flex;
    width: 100%;
    column-gap: 15px;

    input {
      width: 80%;
      height: 50px;
      border: 2px solid #17182d;
      color: #E5E5E5;
      background-color: #252a52;
      border-radius: 6px;
      padding-left: 10px;
      font-family: "ptmono";
      font-size: 32px;

      @media only screen and (max-width: 767px) {
        font-size: 18px;
      }
    }

    button {
      width: 20%;
      padding: 10px;
      background-color: #76bbca;
      border-radius: 6px;
      border: 1px solid #E5E5E5;
      color: #fff;
      font-size: 1.2rem;
      font-family: 'pressstart2p';
      cursor: pointer;
    }

  }

  & .disabled {
    background-color: #3E8898;
    color: #eee;
    cursor: unset;
  }
}

.card-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  cursor: pointer;
  background-color: #162041;
  margin: 18px auto;
  padding: 0 18px;
  border-radius: 5px;

  & .title {
    height: 100%;
    display: flex;
    align-items: center;

    p {
      font-family: 'ptmono';
      color: #E5E5E5;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      width: 18px;
      height: 18px;
      margin-right: 18px;
    }
    .done{
      text-decoration: line-through;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;

    button {
      background-color: #76bbca;
      border-radius: 6px;
      border: 1px solid #E5E5E5;
      color: #fff;
      font-size: 16px;
      font-family: 'pressstart2p';
      cursor: pointer;
      padding: 3px;
    }
  }
}